@tailwind base;
@tailwind components;
@tailwind utilities;


.btn-filled-base {
    @apply relative overflow-hidden text-white font-bold rounded-full rounded-bl-none cursor-pointer transition-transform duration-300 transform hover:scale-105 shadow;
    background: linear-gradient(135deg, theme('colors.mainColor') 50%, theme('colors.secondaryColor') 50%);
    background-size: 200% 200%;
    background-position: top left;
    transition: background-position 0.5s ease, transform 0.3s ease;
}

.btn-filled-base:hover {
    background-position: bottom right;
}

/* Variants for padding */
.btn-filled {
    @apply btn-filled-base px-8 py-4;
}

.btn-filled2 {
    @apply btn-filled-base px-4 py-2;
}

/* .btn-filled {
  @apply bg-mainColor text-white font-bold py-2 px-4  rounded-full rounded-bl-none transition-all duration-300 transform hover:scale-105 hover:shadow-lg cursor-pointer;
  @apply hover:bg-secondaryColor
} */

.btn-outlined {
    @apply border-mainColor border-[1px] font-bold py-2 px-4 cursor-pointer rounded-full rounded-bl-none;
    @apply hover:bg-secondaryColor hover:text-white;
}

.footer-icon {
    @apply text-[18px] text-white cursor-pointer bg-mainColor p-2 rounded-full rounded-bl-none;


}

.footer-icon2 {
    @apply text-[18px] text-white cursor-pointer bg-mainColor p-2 rounded-full rounded-bl-none;
    @apply hover:bg-secondaryColor
}

@keyframes infiniteScroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.slider-track {
    animation: infiniteScroll 20s linear infinite;
}

@layer components {
    .span-style {
        @apply absolute top-0 left-0 w-full h-full origin-center [transform-style:preserve-3d] lg:[transform:rotateY(calc(var(--i)*45deg))_translateZ(350px)] md:[transform:rotateY(calc(var(--i)*45deg))_translateZ(265px)] sm:[transform:rotateY(calc(var(--i)*45deg))_translateZ(216px)] [transform:rotateY(calc(var(--i)*45deg))_translateZ(120px)];
    }

    .img-style {
        @apply absolute top-0 left-0 w-full h-full rounded-sm object-cover [transition:2s] sm:hover:-translate-y-[50px] hover:-translate-y-[20px] hover:scale-[1.3];
    }
}


.animation-delay-0 {
    animation-delay: 0s;
}

.animation-delay-1500 {
    animation-delay: 1.5s;
}


@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader-rotate {
    animation: rotation 2s ease-in-out infinite alternate;
}

.loader-rotate-reverse {
    animation: rotation 2s ease-in-out infinite alternate-reverse;
}